.slidev-code {
  white-space: pre-wrap;
}

.slidev-code-line-numbers .no-line-numbers .slidev-code code .line::before {
  display: none;
}

a.playground {
  display: inline-block;
  margin-bottom: 10px;
}

div[layout="two-cols"] div.col-right {
  padding-left:10px;
   padding-top: 53px;
}

.bg-red-200, .bg-yellow-300 {
    color: black;
}
